:root{
    --primary-color:#727272;
    --font-size:1.10rem;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    margin: 70px;
    background-color: #faf9f9;

  
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
   
   

}
nav > ul{
    display: flex;
    list-style: none;
    
}
nav > ul li{
    padding-right:55px;
    color: var(--primary-color);
    font-size: var(--font-size);
}
nav > ul li img{
  width: 16px;
}
/* banner section starts */
.banner{
    align-items: center;
    display: flex;
    
}
.banner-content{
    margin-top: 50px;
    width: 50%;
}
.banner-title{
    font-size: 2.50rem;

}
.banner-description{
    font-size: var(--font-size);
    color: var(--primary-color);
    padding: 20px 0px;
    width: 90%;
}
.btn-primary{
    color: white;
    background-color: rgb(222, 48, 18);
    padding: 8px 25px;
    border-radius: 15px;
}

.btn-primary img{
  
  width: 15px;
 
}

.banner-img img{
    width: 100%;
    margin-right: 110px;
    
}
  /* main section starts */
  /* sponsor section starts */
.sponsors{
    margin: 80px;
}
.sponsor-items{
    display: flex;
    border: 1px solid #727272;
    padding: 20px;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

  /* collection section starts */
.collection{
    padding-bottom: 70px ;
}
.collection-title{
    font-size: 2rem;
    text-align: center;
}
.collection-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
   
   width: 80%;
   height: 60%;
   margin: auto;
   justify-content: center;
   margin-top: 20px;
   
}
.card{
    width: 90%;
   
    border: 1px solid #727272;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 10px ;
}
.card img{
    width: 100%;
    height: 20%;
    text-align: center;
}
  .card .amount{
    padding: 8px 0px;
  }
.see-more{
   
}
  /* featured section starts */
.featured{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    margin-bottom: 60px;
}
.featured-title{
    font-size: 2rem;
}
.featured-container{
    padding-left: 110px;
}
/* footer section starts */
footer{
  color: white;
  background-color: #1e1938;
  text-align: center;
  align-items: center;
  padding: 60px;
  gap: 20px;

}
.icon img{
  width: 26px;
  background-color: white;
  border-radius: 50%;
}
.icon{
  padding-left: 10px;
  padding-top: 6px;
}
footer p{
  padding-top: 6px;
}